PyQt5
pyqtgraph
SimpleITK
pydicom
numpy
scipy
pandas
vtk
trimesh
meshio
scikit-image
opencv-python
matplotlib
seaborn
pygmsh
meshpy
fenics
#dolfin
reportlab
python-docx
Pillow
h5py
pyyaml